.container
  %button.btn.btn-primary.mt-3.mb-3{"data-target" => "#exampleModal", "data-toggle" => "modal", type: "button"}
    = t('.upload_avatar')
  %button.btn.btn-success.mt-3.mb-3{"data-target" => "#RecomendModal", "data-toggle" => "modal", type: "button"}
    = t('.my_recommendation')

  #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog{role: "document"}
      .modal-content
        .modal-header
          %h5#exampleModalLabel.modal-title
            = t('.upload_photo')
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          = form_for current_user do |f|
            = f.file_field :avatar
            = f.submit 'Load', class: "btn btn-primary modal-footer mt-2"
  #RecomendModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog{role: "document"}
      .modal-content
        .modal-header
          %h5#exampleModalLabel.modal-title
            = t('.list_recommendation')
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          - @inactive_appointment.each do |appointment|
            .border.mb-3.pl-3
              = appointment.doctor.name
              %br
              = appointment.recommendation
              %br
              %p.btn.btn-danger.mb-1
                = appointment.status
              %br
.container
  .row
    - @categories.each do |category|
      - category.doctors.each do |doctor|
        .col.mb-4
          .card.cart_width
            %img.card-img-top
            = image_tag(doctor.avatar.url) if doctor.avatar?
            .card-body.pb-2
              %h5.card-title
                = doctor.name
            %ul.list-group.list-group-flush
              %li.list-group-item
                = category.name
              %li.list-group-item
                = doctor.phone_number
            .card-body.pb-1
              = button_to t('.save'), appointments_path(doctor_id: doctor.id), class:"btn btn-success"

