= form_for current_user do |f|
  = f.label :avatar
  = f.file_field :avatar
  = f.submit
.container
  .row
    - @categories.each do |category|  
      - category.doctors.each do |doctor|
        .col-2.border.pr-3.pl-0.mb-3
          .card
            = image_tag(doctor.avatar.url, alt: 'Image') if doctor.avatar?
          .card-body
            %h5.card-title 
            = doctor.name
            %p.card-text 
            = doctor.category.name
            = button_to t('.save'), appointments_path(doctor_id: doctor.id)

- @inactive_appointment.each do |appointment|
  .col-4
    .border.mb-3
      = appointment.doctor.name
      %br
      = appointment.recommendation
      %br
      %p.btn.btn-danger 
        = appointment.status
      %br
-# - binding.pry
