.container
  .row
    - @categories.each do |category|  
      -# %h5= category.name
      - category.doctors.each do |doctor|
        .col-2.border.pr-3.pl-0.mb-3
          .card
          %img.card-img-top{:alt => "...",
                            :src => "https://cdn1.savepice.ru/uploads/2020/10/30/feff59b9c5ec31f427efed8450683d68-full.jpg"}/
          .card-body
            %h5.card-title 
            = doctor.name
            %p.card-text 
            = doctor.category.name
            = button_to t('.save'), appointments_path(doctor_id: doctor.id)

- @inactive_appointment.each do |appointment|
  .col-4
    .border.mb-3
      = appointment.doctor.name
      %br
      = appointment.recommendation
      %br
      %p.btn.btn-danger 
        = appointment.status
      %br
