.container
  .row
    - @categories.includes([:doctors]).each do |category|  
      -# %h5= category.name
      - category.doctors.each do |doctor|
        .col-2.border.pr-3.pl-0.mb-3
          .card
          %img.card-img-top{:alt => "...",
                            :src => "https://cdn1.savepice.ru/uploads/2020/10/30/feff59b9c5ec31f427efed8450683d68-full.jpg"}/
          .card-body
            %h5.card-title 
            = doctor.name
            %p.card-text 
            = doctor.category.name
            = button_to t('.save'), appointments_path(doctor_id: doctor.id)

- current_user.appointments.includes([:doctor]).inactive.each do |appointment|
  .col-4
    .border.mb-3
      = appointment.doctor.name
      %br
      = appointment.recommendation
      %br
      %p.btn.btn-danger 
        = appointment.status
      %br

-# .container
-#   .row
-#     .col-4
-#       #list-tab.list-group{role: "tablist"}
-#       - @categories.includes([:doctors]).each do |category|
-#         %a#list-home-list.list-group-item.list-group-item-action.active{"aria-controls" => "#{category.name}", "data-toggle" => "list", href: "#list-#{category.name}", role: "tab"} 
-#           = category.name
-#         %a#list-profile-list.list-group-item.list-group-item-action{"aria-controls" => "profile", "data-toggle" => "list", href: "#list-profile", role: "tab"} Profile
-#         %a#list-messages-list.list-group-item.list-group-item-action{"aria-controls" => "messages", "data-toggle" => "list", href: "#list-messages", role: "tab"} Messages
-#         %a#list-settings-list.list-group-item.list-group-item-action{"aria-controls" => "settings", "data-toggle" => "list", href: "#list-settings", role: "tab"} Settings
-#     .col-8
-#       #nav-tabContent.tab-content
-#         #list-home.tab-pane.fade.show.active{"aria-labelledby" => "list-home-list", role: "tabpanel"} ааа
-#         #list-profile.tab-pane.fade{"aria-labelledby" => "list-profile-list", role: "tabpanel"} bbb
-#         #list-messages.tab-pane.fade{"aria-labelledby" => "list-messages-list", role: "tabpanel"} ...
-#         #list-settings.tab-pane.fade{"aria-labelledby" => "list-settings-list", role: "tabpanel"} ...

