.container
  %button.btn.btn-primary.mt-3.mb-3{"data-target" => "#exampleModal", "data-toggle" => "modal", type: "button"}
    = t('.upload_avatar')

#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title
          = t('.upload_photo')
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_for current_user do |f|
          = f.file_field :avatar
          = f.submit 'Load', class: "btn btn-primary modal-footer mt-2"

.container
  .row
    - @active_patients.each do |appointment|
      .col.mb-4
        .card.cart_width
          %img.card-img-top
          = image_tag(appointment.patient.avatar.url) if appointment.patient.avatar?
          .card-body.pb-2
            %h5.card-title
              = appointment.patient_name
          %ul.list-group.list-group-flush
            %li.list-group-item
              = appointment.patient.phone_number
            %li.btn.btn-success 
              = appointment.status
          .card-body.p0
            = link_to t('.save'), edit_appointment_path(appointment), class: 'btn btn-primary'