= form_for current_user do |f|
  = f.label :avatar
  = f.file_field :avatar
  = f.submit
.container.text-center
  = t('.welcome') 
  = current_user.name
  %br
  = t('.about_show')
  %p  
  - @active_patients.each do |appointment|
    .col-4.border.pr-0.pl-0.mb-3
      .card
        = binding.pry
        = image_tag(appointment.patient.avatar.url, alt: 'Image') if patient.avatar?
      .card-body
        %h5.card-title 
        = appointment.patient_name
        %br
        %p.btn.btn-success 
          = appointment.status 
        %p.card-text 
        = link_to t('.save'), edit_appointment_path(appointment), class: 'btn btn-primary'
