.text-center
  = current_user.name
  = t('.title')
  = @appointment.patient_name
.content_center
  = simple_form_for @appointment do |f|
    = f.input :recommendation
    = f.button :submit, t('.save'),class: "btn-primary"