!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Polyclinic
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-expand-lg.navbar-light.bg-light.justify-content-between
      %div
        %a.navbar-brand{:href => "#"} ToDoList
      %div
        .navbar-nav
          - if user_signed_in?
            %span.nav-item.nav-link
              Здравствуйте, #{current_user.name}
            = link_to "Выход", destroy_user_session_path, method: :delete, class: "nav-item nav-link text-dark"
          - else
            = link_to "Вход", new_user_session_path, class: "nav-item nav-link"
            = link_to "Регистрация", new_user_registration_path, class: "nav-item nav-link"
    = yield
    %p.notice= notice
    %p.alert= alert
