%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 
      = t('.project_name')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-expand-lg.navbar-dark.bg-primary.justify-content-between.bg-danger
      .container
        %div
          %h4.mb-0
            %a.navbar-brand
              = link_to t('.project_name'), root_path, class: "nav-item text-white"
        %div
          .navbar-nav
            - if user_signed_in?
              %span.nav-item.nav-link.text-white
                = t('.hello') 
                #{current_user.phone_number}
              = link_to t('.exit'), destroy_user_session_path, method: :delete, class: "nav-item nav-link text-white"
            - else
              = link_to t('.sign_in'), new_user_session_path, class: "nav-item nav-link text text-white"
              = link_to t('.sign_up'), new_user_registration_path, class: "nav-item nav-link text-white"
    #flash
    - flash.each do |key, value|
      %div{class: "flash #{key}"}= value
    = yield
    
