%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Polyclinic
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-expand-lg.navbar-dark.bg-primary.justify-content-between.bg-danger
      .container
        %div
          %a.navbar-brand{:href => "#"} :Codica
        %div
          .navbar-nav
            - if user_signed_in?
              %span.nav-item.nav-link.text-white
                Hello #{current_user.phone_number}
              = link_to "Exit", destroy_user_session_path, method: :delete, class: "nav-item nav-link text-white"
            - else
              = link_to "Sign in", new_user_session_path, class: "nav-item nav-link text text-white"
              = link_to "Sign up", new_user_registration_path, class: "nav-item nav-link text-white"
    #flash
    - flash.each do |key, value|
      %div{class: "flash #{key}"}= value        
    = yield
    
